<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="appdefinedbuttonexample.odg.com.appdefinedbuttonexample">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".appbuttons.ButtonDefinedActivity"
                  android:configChanges="keyboard|keyboardHidden|orientation|locale|touchscreen|navigation|screenLayout|fontScale"
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar">
            <meta-data
                android:name="display_defined_buttons"
                android:value="buttons.xml" />
        </activity>
        <activity
            android:launchMode="singleInstance"
            android:name=".videoplayer.VideoPlayer"
            android:configChanges="keyboard|keyboardHidden|orientation|locale|touchscreen|navigation|screenLayout|fontScale"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http" />
                <data android:scheme="https" />
                <data android:scheme="content" />
                <data android:scheme="file" />
                <data android:mimeType="video/mpeg4" />
                <data android:mimeType="video/mp4" />
                <data android:mimeType="video/3gp" />
                <data android:mimeType="video/3gpp" />
                <data android:mimeType="video/3gpp2" />
                <data android:mimeType="video/webm" />
                <data android:mimeType="video/avi" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".videoplayer.Preferences"
            android:label="@string/preferences_activity" >
        </activity>
    </application>

</manifest>